<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/5367e2d6-9539-4df6-ba18-6ec2c0cd1f52/resourceGroups/TodoApi20211203113108ResourceGroup/providers/Microsoft.Web/sites/JakeRocket</ResourceId>
    <ResourceGroup>TodoApi20211203113108ResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://jakerocket.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>de104850-7add-4ff6-b32a-a287718dbeff</ProjectGuid>
    <PublishUrl>https://jakerocket.scm.azurewebsites.net/</PublishUrl>
    <UserName>$JakeRocket</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>